In [3]:
#Aqui ingresamos las bibliotecas
import numpy as np
import pandas as pd

## **Actividad 3**

### **Paso 1.** Abre un nuevo cuaderno de trabajo Jupyter en Google Colab, llamado Actividad3. Carga las bibliotecas Numpy y Pandas. Enseguida define un nuevo DataFrame df con la ayuda de la función de Pandas pd.read_csv, leyendo el archivo csv con los datos climatológicos de la estación meteorológica que has seleccionado para estas actividades y que has almacenado en tu repositorio en Github.

In [4]:
# Tomar la dirección URL del archivo en formato 'raw'
url = 'https://raw.githubusercontent.com/johanamirandag/Fisica-computacional/main/Actividad1/AguaPrieta26192.txt'

# Definimos los nombres de las columnas
# El archivo tiene códigos ASCII extendido (Español), encoding='cp1251' Windows (Europa Occidental)
# El separador de datos es de uno o más espacios, sep='\s+'
# Se brincará los primeros 19 renglones y el último, afirmamos que no nay encabezado
# Se procesan los datos utilizando Python, engine='python' 
my_cols = ['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin']
df_distribucion = pd.read_csv(url, names=my_cols, encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python')

### **Paso 2.** Una vez que hayas leído tu archivo de datos, usa la función df.head(n) y df.tail(n), y estudia la estructura de tu archivo, para determinar que renglones trae la información de los nombres de las columnas y en qué número de renglón comienzan los datos. Lo que buscamos es quedarnos con un DataFrame con los nombres de las columnas en el primer renglón y el resto de renglones serán sólo datos diarios de la estación meteorológica.

In [5]:
# Revisamos el encabezado y el final del dataframe
print(df_distribucion.head())
print(df_distribucion.tail())

        Fecha Precip  Evap Tmax Tmin
0  01/07/1975    8.5   8.6   36   25
1  02/07/1975    5.8   5.8   36   24
2  03/07/1975      0   9.8   35   23
3  04/07/1975      0  10.4   36   25
4  05/07/1975      0   6.6   37   26
            Fecha Precip  Evap  Tmax Tmin
11789  26/04/2016      0  Nulo    25    7
11790  27/04/2016      0  Nulo    27    3
11791  28/04/2016      0  Nulo    25   12
11792  29/04/2016      0  Nulo    25    4
11793  30/04/2016      0  Nulo  Nulo    5

### **Paso 3.** Enseguida se pide explorar el dataframe recién cargado a la memoria. Para esto, se pide hacer una bitácora anotando o agregando un comentario de las acciones desarrolladas.

*   Imprime el encabezado y final del dataframe:

In [6]:
# Revisamos el encabezado y el final del dataframe
print(df_distribucion.head(10))
print(df_distribucion.tail(10))

        Fecha Precip  Evap Tmax Tmin
0  01/07/1975    8.5   8.6   36   25
1  02/07/1975    5.8   5.8   36   24
2  03/07/1975      0   9.8   35   23
3  04/07/1975      0  10.4   36   25
4  05/07/1975      0   6.6   37   26
5  06/07/1975    1.1   8.8   34   24
6  07/07/1975      0   5.9   35   24
7  08/07/1975      0  10.7   37   24
8  09/07/1975    1.5  10.5   37   25
9  10/07/1975      0  10.7   37   24
            Fecha Precip  Evap  Tmax Tmin
11784  21/04/2016      0  Nulo    32    4
11785  22/04/2016      0  Nulo    33    7
11786  23/04/2016      0  Nulo    30    9
11787  24/04/2016      0  Nulo    28    9
11788  25/04/2016      0  Nulo    29    8
11789  26/04/2016      0  Nulo    25    7
11790  27/04/2016      0  Nulo    27    3
11791  28/04/2016      0  Nulo    25   12
11792  29/04/2016      0  Nulo    25    4
11793  30/04/2016      0  Nulo  Nulo    5

* ¿Qué dimensiones tiene tu dataframe?

In [7]:
df_distribucion.shape

(11794, 5)

* ¿Cómo es el contenido de tu dataframe?

In [8]:
df_distribucion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11794 entries, 0 to 11793
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   11794 non-null  object
 1   Precip  11794 non-null  object
 2   Evap    11794 non-null  object
 3   Tmax    11794 non-null  object
 4   Tmin    11794 non-null  object
dtypes: object(5)
memory usage: 460.8+ KB

In [9]:
# Hacemos una copia de trabajo y preservamos el dataframe original
df_trabajo0 = df_distribucion.copy()
df_trabajo0.head()

        Fecha Precip  Evap Tmax Tmin
0  01/07/1975    8.5   8.6   36   25
1  02/07/1975    5.8   5.8   36   24
2  03/07/1975      0   9.8   35   23
3  04/07/1975      0  10.4   36   25
4  05/07/1975      0   6.6   37   26

* Los datos originales incluyen la cadena de caracteres 'Nulo', indicando que no hubo datos para esa variable, ese día. Tenemos que reemplazar la palabra nulo con la función: df.replace()

In [10]:
# Reemplazamos los textos 'Nulo' por espacio en blanco ''
str_Nulo = 'Nulo'
df_trabajo1 = df_trabajo0.replace(to_replace=str_Nulo, value='', regex=True)
# Puse los últimos rengoles por que en los primeros no había datos "Nulos"
df_trabajo1.tail()

            Fecha Precip Evap Tmax Tmin
11789  26/04/2016      0        25    7
11790  27/04/2016      0        27    3
11791  28/04/2016      0        25   12
11792  29/04/2016      0        25    4
11793  30/04/2016      0              5

* Después habrá que convertir a número flotante o numérico los datos de Precipitación, Evaporación, Temperatura Máxima y Temperatura mínima utilizando la función: df.to_numeric()

In [11]:
cols_list = ['Precip', 'Evap', 'Tmax', 'Tmin']
for cols in cols_list:
  df_trabajo1[cols] = pd.to_numeric(df_trabajo1[cols], errors='coerce')

df_trabajo1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11794 entries, 0 to 11793
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   11794 non-null  object
 1   Precip  11775 non-null  float64
 2   Evap    2374 non-null   float64
 3   Tmax    10788 non-null  float64
 4   Tmin    10767 non-null  float64
dtypes: float64(4), object(1)
memory usage: 460.8+ KB

* Contrasta ahora la información de tu DataFrame con la función: df.info()

In [12]:
# Imprimimos la información actualizada del dataframe
df_trabajo1.info()
print(df_trabajo1.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11794 entries, 0 to 11793
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   11794 non-null  object
 1   Precip  11775 non-null  float64
 2   Evap    2374 non-null   float64
 3   Tmax    10788 non-null  float64
 4   Tmin    10767 non-null  float64
dtypes: float64(4), object(1)
memory usage: 460.8+ KB
        Fecha  Precip  Evap  Tmax  Tmin
0  01/07/1975     8.5   8.6  36.0  25.0
1  02/07/1975     5.8   5.8  36.0  24.0
2  03/07/1975     0.0   9.8  35.0  23.0
3  04/07/1975     0.0  10.4  36.0  25.0
4  05/07/1975     0.0   6.6  37.0  26.0

* Se puede contabilizar el número de datos faltantes en esas variables mediante la función: df.isnull().sum()

In [13]:
# De la instrucción anterior, vemos que hay valores faltantes. Sumamos los valores nulos. 
df_trabajo1.isnull().sum()

Fecha        0
Precip      19
Evap      9420
Tmax      1006
Tmin      1027
dtype: int64

* Imprime de nuevo el encabezado y final de tu dataframe, con las funciones df.head() y df.tail()

In [14]:
print(df_trabajo1.head())
print(df_trabajo1.tail())

        Fecha  Precip  Evap  Tmax  Tmin
0  01/07/1975     8.5   8.6  36.0  25.0
1  02/07/1975     5.8   5.8  36.0  24.0
2  03/07/1975     0.0   9.8  35.0  23.0
3  04/07/1975     0.0  10.4  36.0  25.0
4  05/07/1975     0.0   6.6  37.0  26.0
            Fecha  Precip  Evap  Tmax  Tmin
11789  26/04/2016     0.0   NaN  25.0   7.0
11790  27/04/2016     0.0   NaN  27.0   3.0
11791  28/04/2016     0.0   NaN  25.0  12.0
11792  29/04/2016     0.0   NaN  25.0   4.0
11793  30/04/2016     0.0   NaN   NaN   5.0

* Realiza una estadística básica de las variables numéricas de tu dataframe usando la función: df.describe() y haz una interpretación de los resultados, para ver si tienen sentido físico (por ej. valores negativos de precipitación, valores extremos fuera de lo normal, etc)

In [15]:
# Un análisis estadístico breve de las variables numéricas redondeado a 2 cifras significativas
df_trabajo1.describe().round(2)

         Precip     Evap      Tmax      Tmin
count  11775.00  2374.00  10788.00  10767.00
mean       0.84     6.49     25.87      7.80
std        3.95     3.60      8.47      7.47
min        0.00     0.10      1.00    -10.00
25%        0.00     3.60     20.00      2.00
50%        0.00     6.10     26.00      6.00
75%        0.00     9.00     32.00     14.00
max       93.00    18.00     48.00     29.00

### **Paso 4.** Análisis de la variable Fecha. Pandas maneja las variables tipo Fecha y Tiempo. Ofrece una serie de herramientas para su manipulación. Lo que sigue es convertir el objeto que se ha leído a una variable que Python comprenda.

* Comienza haciendo una copia del dataframe del paso anterior, por si se requiere recuperar el nuevo dataframe, utilizando df:new=df.copy()

In [16]:
# Volvemos a hacer una pausa y definimos un nuevo dataframe por si hay que regresarse.
df_trabajo2 = df_trabajo1.copy()
df_trabajo2['Fecha'].head()

0    01/07/1975
1    02/07/1975
2    03/07/1975
3    04/07/1975
4    05/07/1975
Name: Fecha, dtype: object

* Utiliza la función de Pandas pd.to_datetime(), para convertir el objeto Fecha a formato de fecha que comprende Python.  Lee el manual de esa función e intenta la conversión.

In [18]:
# Pandas tiene la función pd.to_datetime que convierte una cadena en tipo datetime64[ns]
# Intentamos a ver si Python reconoce el formato en nuestro caso. 
# Agregamos la opción de que el primer dato es el día (dayfirst=True)
df_trabajo2['Fecha']=pd.to_datetime(df_trabajo2['Fecha'], dayfirst=True).copy()
print(df_trabajo1.head())

        Fecha  Precip  Evap  Tmax  Tmin
0  01/07/1975     8.5   8.6  36.0  25.0
1  02/07/1975     5.8   5.8  36.0  24.0
2  03/07/1975     0.0   9.8  35.0  23.0
3  04/07/1975     0.0  10.4  36.0  25.0
4  05/07/1975     0.0   6.6  37.0  26.0

* Después utiliza la función df.dtypes para verificar que todas las variables son del tipo deseado.

In [19]:
# Verificamos que cada variable (columna), sea del tipo que esperamos.
# Observamos que la variable Fecha es de tipo 'datetime64[ns]'  
df_trabajo2.dtypes

Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
dtype: object

* Enseguida con la ayuda de las funciones de Pandas df['Fecha'].dt.year y df['Fecha'].dt.month, crea dos columnas nuevas adicionales df['Año'] y df['Mes'].

In [20]:
# Buscamos ahora añadir dos columnas adicionales: df['Año'], df['Mes']
# Usaremos la función .dt.year y .dt.month para extraer el Año y Mes de la Fecha
df_trabajo2['Año'] = df_trabajo2['Fecha'].dt.year
df_trabajo2['Mes'] = df_trabajo2['Fecha'].dt.month

* Utilizando la función print aplicado a las funciones df.head() y df.tail(), verifica que el dataframe tiene la forma deseada.

In [21]:
# Verificamos que se hayan creado de forma correcta
# Tendremos ahora dos columnas adicionales que podemos utilizar para filtrar información.
print(df_trabajo2.head())
print(df_trabajo2.tail())

       Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0 1975-07-01     8.5   8.6  36.0  25.0  1975    7
1 1975-07-02     5.8   5.8  36.0  24.0  1975    7
2 1975-07-03     0.0   9.8  35.0  23.0  1975    7
3 1975-07-04     0.0  10.4  36.0  25.0  1975    7
4 1975-07-05     0.0   6.6  37.0  26.0  1975    7
           Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
11789 2016-04-26     0.0   NaN  25.0   7.0  2016    4
11790 2016-04-27     0.0   NaN  27.0   3.0  2016    4
11791 2016-04-28     0.0   NaN  25.0  12.0  2016    4
11792 2016-04-29     0.0   NaN  25.0   4.0  2016    4
11793 2016-04-30     0.0   NaN   NaN   5.0  2016    4

* Y complementa con la función df.dtypes, para verificar que todas las variables son del tipo adecuado.

In [22]:
# Verificamos que Año y Mes son variables enteras.
# Hasta aquí llegaremos esta semana. 
df_trabajo2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11794 entries, 0 to 11793
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   11794 non-null  datetime64[ns]
 1   Precip  11775 non-null  float64
 2   Evap    2374 non-null   float64
 3   Tmax    10788 non-null  float64
 4   Tmin    10767 non-null  float64
 5   Año     11794 non-null  int64
 6   Mes     11794 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 645.1 KB